extends layout

block page_title
    title ישראל
    
block greeting
      h1 !ברוכים הבאים
block software_engineer
      p !אהיה מתכנת בקרוב
      img(src="/images/earth.jpg" alt="Планета Земља" title="Планета Земља")